<h1 i18n="Title of register|The title of register of public organizations" document-title>The register of public organizations</h1>
<div class="form-inline clearfix">
  <div class="form-group pull-left">
    <label for="searchAssociationsTerm" i18n>Search an fops:</label>
    <input id="searchAssociationsTerm" type="text" class="form-control" #term (keyup)="search(term.value)"/>
  </div>
  <a class="btn btn-primary pull-right" [routerLink]="['./new']" i18n="Register new link|Link to the 'register new organization' page">Register new</a>
</div>

<table class="table table-bordered table-striped">
  
  <thead>
    <tr>
      <th i18n="Column header for Name|Name of fop">Name</th>
      <th i18n="Column header for Address|Address of fop">Address</th>
      <th i18n="Column header for MainActivity|MainActivity of fop">Type</th>
      <th i18n="Column header for Status|Status of public organization">EDRPOU</th>      
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let association of associations | async | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalCount }">
      <td>
        <a [routerLink]="['./', association.Id]">{{association.RegNum}}</a>
      </td>
      <td>{{association.DateReg | date:'d/MM/yyyy' }}</td>
      <td>{{association.Name}}</td>
      <td>{{association.VudName}}</td>
      <td>{{association.Edrpou}}</td>
      <td>{{association.Adress}}</td>
      <td>{{association.Phone}}</td>
      <td><div *ngFor="let zasnovn of association.Zasnovn">{{zasnovn}}</div></td>
      <td><div *ngFor="let government of association.Government">{{government}}</div></td>
      <td>{{association.Kved}}</td>
      <td>{{association.License}}</td>
    </tr>
  </tbody>
</table>
<pagination-controls class="associations-pagination"
                     (pageChange)="getPage($event)"
                     autoHide="true"
                     i18n-previousLabel="Previous"
                     previousLabel="Previous"
                     i18n-nextLabel="Next"
                     nextLabel="Next">
</pagination-controls>
