<nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav navbar-nav width100">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="" i18n="Homepage link|Link to the homepage from main menu">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="judgments" i18n="Link to the judgments register">Judgments</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="notaries" i18n="Link to the notaries register">Notaries</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="gantt-chart">Gantt chart</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <label i18n="Other languages label|Label for dropdown with supported languages">Other languages:</label>
      <select [formControl]="userLocale">
        <option *ngFor="let locale of locales" [value]="locale.id">{{locale.name}}</option>
      </select>
    </li>
  </ul>
</nav>

<main class="page">
  <router-outlet></router-outlet>
</main>
