<div>
  <h1>Реєстр громадських організацій</h1>
  <p>
    <a class="btn btn-primary" [routerLink]="['./add-new']">Зареэструвати нову</a>
  </p>
  <table *ngIf="associations?.length > 0" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата реэстраціЇ</th>
            <th>Назва</th>
            <th>Тип</th>
            <th>ЄДРПОУ</th>
            <th>Адреса</th>
            <th>Телефон</th>
            <th>Засновники</th>
            <th>Керівники</th>
            <th>КВЭД</th>
            <th>Ліцензія</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let association of associations | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalCount }">
            <td>{{association.RegNum}}</td>
            <td>{{association.DateReg}}</td>
            <td>{{association.Name}}</td>
            <td>{{association.VudName}}</td>
            <td>{{association.Edrpou}}</td>
            <td>{{association.Adress}}</td>
            <td>{{association.Phone}}</td>
            <td><div *ngFor="let zasnovn of association.Zasnovn">{{zasnovn}}</div></td>
            <td><div *ngFor="let government of association.Government">{{government}}</div></td>
            <td>{{association.Kved}}</td>
            <td>{{association.License}}</td>
        </tr>
    </tbody>
  </table>
  <pagination-controls class="associations-pagination"
                       (pageChange)="getPage($event)"
                       autoHide="true"
                       previousLabel="Попередня"
                       nextLabel="Наступна">
  </pagination-controls>
</div>
