<form [formGroup]="associationForm" (ngSubmit)="onSubmit()" novalidate>
  <ng-container *ngIf="!associationId">
    <h1 i18n="The new public organization|Title for the form of creation of new public organization"
        document-title>The new public organization</h1>
  </ng-container>

  <ng-container *ngIf="associationId">
    <h1 i18n="Update public organization|Title for the form of updation of public organization"
        document-title>Update public organization</h1>

    <div class="form-group">
      <label i18n>Registration Number</label>
      <input type="text" disabled class="form-control" [value]="associationForm.get('RegNum').value" />
    </div>

    <div class="form-group">
      <label i18n="Column header for Registration Date|Date of registration of public organization">Registration Date</label>
      <input type="text" disabled class="form-control" [value]="associationForm.get('DateReg').value | date:'d/MM/yyyy'" />
    </div>
  </ng-container>

  <div class="form-group">
    <label i18n="Name field|Name field of public organization">Name</label>
    <input type="text"
           class="form-control"
           i18n-placeholder="Name field|Name field of public organization"
           placeholder="Name"
           formControlName="Name" />
  </div>

  <div class="form-group">
    <label i18n="Type field|Type field of public organization">Type</label>
    <input type="text"
           class="form-control"
           i18n-placeholder="Type field|Type field of public organization"
           placeholder="Type"
           formControlName="VudName" />
  </div>

  <div class="form-group">
    <label i18n="EDRPOU field|EDRPOU field of public organization">EDRPOU</label>
    <input type="text"
           class="form-control"
           i18n-placeholder="EDRPOU field|EDRPOU field of public organization"
           placeholder="EDRPOU"
           formControlName="Edrpou" />
  </div>

  <div class="form-group">
    <label i18n="Address field|Address field of public organization">Address</label>
    <input type="text"
           class="form-control"
           i18n-placeholder="Address field|Address field of public organization"
           placeholder="Address"
           formControlName="Adress" />
  </div>

  <div class="form-group">
    <label i18n="Phone field|Phone field of public organization">Phone</label>
    <input type="text"
           class="form-control"
           i18n-placeholder="Phone field|Phone field of public organization"
           placeholder="Phone"
           formControlName="Phone" />
  </div>

  <div class="form-group dynamic-controls-list" formArrayName="Zasnovn">
    <label i18n="Founders field|Founders field of public organization">Founders</label>
    <div *ngFor="let founder of associationForm.get('Zasnovn').controls; let i=index" class="dynamic-control">
      <input type="text"
             class="form-control"
             i18n-placeholder="Founders field|Founders field of public organization"
             placeholder="Founders"
             [formControlName]="i" />
      <button type="button"
              (click)="removeFounder(i)"
              [disabled]="associationForm.get('Zasnovn').controls.length <= 1"
              i18n="Remove button"
              class="btn">Remove</button>
    </div>
    <button type="button"
            (click)="addFounder()"
            i18n="Add founder button"
            class="btn">Add founder</button>
  </div>

  <div class="form-group dynamic-controls-list" formArrayName="Government">
    <label i18n="Leaders field|Leaders field of public organization">Leaders</label>
    <div *ngFor="let leader of associationForm.get('Government').controls; let i=index"class="dynamic-control">
      <input type="text"
            class="form-control"
            i18n-placeholder="Leaders field|Leaders field of public organization"
            placeholder="Leaders"
            [formControlName]="i" />
      <button type="button"
              (click)="removeLeader(i)"
              [disabled]="associationForm.get('Government').controls.length <= 1"
              i18n="Remove button"
              class="btn">Remove</button>
    </div>
    <button type="button"
            (click)="addLeader()"
            i18n="Add leader button"
            class="btn">Add leader</button>
  </div>

  <div class="form-group">
    <label i18n="KVED field|KVED field of public organization">KVED</label>
    <input type="text"
           class="form-control"
           i18n-placeholder="KVED field|KVED field of public organization"
           placeholder="KVED"
           formControlName="Kved" />
  </div>

  <div class="form-group">
    <label i18n="License field|License field of public organization">License</label>
    <input type="text"
           class="form-control"
           i18n-placeholder="License field|License field of public organization"
           placeholder="License"
           formControlName="License" />
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="associationForm.pristine || associationForm.invalid">
    <ng-container *ngIf="associationId" i18n="Update button|Update button">Update</ng-container>
    <ng-container *ngIf="!associationId" i18n="Register button|Button of registering a new organization">Register</ng-container>
  </button>
</form>
